<h4>Clickpay Refund</h4>
<div class="alert alert-success" id="bobipay_direct_transaction_msg" style="display:none;"></div>
<table class="table table-striped table-bordered">
  <tr>
    <td>Total payment</td>
    <td>
        <div class="row">
            <div class="col-sm-3">
                <div class="input-group">
                  <input type="text" class="form-control" id="input-refund-amount" value="{{ charge }}" disabled>
                  <span style="margin-left:10px" class="input-group-addon">{{ currency }}</span>
                </div>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-primary" id="button-refund" style="display:block">
                    <i class="fa fa-circle-o-notch fa-spin fa-lg" id="img-loading-refund" style="display:none;"></i>
                    {{ button_refund }}
                </a>         
            </div>
        </div>        
    </td>
  </tr>
  <tr>
      <td>&nbsp;</td>
      <td>
          <div id="refundstatus" style="display:none;">
          </div>
      </td>
  </tr>
</table>

{% if (allow_capture) %}
<h4>Clickpay Capture</h4>
<div class="alert alert-success" id="bobipay_direct_transaction_msg" style="display:none;"></div>
<table class="table table-striped table-bordered">
  <tr>    
    <td>
        <div class="row">
            <div class="col-sm-2" style="align-content:center">
              Capture Transaction
            </div>
            <div class="col-sm-2">
                <a class="btn btn-primary" id="button-capture" style="display:block">
                    <i class="fa fa-circle-o-notch fa-spin fa-lg" id="img-loading-capture" style="display:none;"></i>
                    {{ button_capture }}
                </a>         
            </div>
        </div>        
    </td>
  </tr>
  <tr>
      <td>
          <div id="capturestatus" style="display:none;">
          </div>
      </td>
  </tr>
</table>
{% endif %}

<script type="text/javascript">
  $("#button-refund").click(function() {
        if (confirm('{{ text_confirm_refund }}')) {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                data: {'order_id': {{ order_id }}, 'amount': $('#input-refund-amount').val() },
                url: 'index.php?route=extension/clickpay_payment/payment/clickpay_payment.refund&user_token={{ user_token }}',
                beforeSend: function() {
                    $('#button-refund').attr('disabled','disabled');
                    $('#refundstatus').show();
          					$('#refundstatus').text('Processing refund... Please wait...');
                },
                success: function(data) {
                    console.log(data)
                    if (data.error == false) {
                      $('#refundstatus').text('Refund Request Successfully Processed');
                    }
                    if (data.error == true) {
					            	$('#button-refund').removeAttr('disabled');
                        $('#refundstatus').text('');
                        alert(data.msg);
                    }
                }
            });
        }
    });

    $("#button-capture").click(function() {
        if (confirm('{{ text_confirm_capture }}')) {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                data: {'order_id': {{ order_id }} },
                url: 'index.php?route=extension/clickpay_payment/payment/clickpay_payment.capture&user_token={{ user_token }}',
                beforeSend: function() {
                    $('#button-capture').attr('disabled','disabled');
                    $('#capturestatus').show();
          					$('#capturestatus').text('Processing Capture... Please wait...');
                },
                success: function(data) {
                    console.log(data)
                    if (data.error == false) {
                      $('#capturestatus').text('Transaction Successfully Processed');
                    }
                    if (data.error == true) {
					            	$('#button-capture').removeAttr('disabled');
                        $('#capturestatus').text('');
                        alert(data.msg);
                    }
                }
            });
        }
    });

</script>
