<fieldset>
  {# <legend>{{ text_title }}</legend>
  <p><b>{{ text_description }}</b></p>  #}
  {% if "managed" == gateway_redirect %}
  <legend>Enter credit card details</legend>
  <form role="form" id="managedform">
    <div class="row" style="margin-bottom:15px">
        <div class="col-xs-12">
            <div class="form-group">
                <label>CARD NUMBER</label>
                <div class="input-group">
                    <input id='clickpay_card_number' name='clickpay_card_number' type="tel"  data-paylib='number'
                              class="form-control" placeholder="Valid Card Number" maxlength="23"
                              oninput = "handleCardNumberChange(this)" />
                    <img src="{{ image_url ~ 'blank.png'}}" id="cc-icon" name="cc-icon" style="margin-left:20px; width: 50px; height:30px"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:15px">
      <div class="col-xs-7 col-md-7">
          <div class="form-group">
              <label>EXPIRATION DATE</label>
              <div>
                <select class="form-control" id='clickpay_card_expiration_month' name='clickpay_card_expiration_month'  data-paylib='expmonth' 
                        maxlength="2" style="width:45%; display:inline">
                    <option value="" disabled selected>Month</option>
                    <!-- Generate months dynamically -->
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>

                <select class="form-control" id='clickpay_card_expiration_year' name='clickpay_card_expiration_year' data-paylib= 'expyear' 
                      style="width:45%; display:inline; margin-left:10px">
                    <option value="" disabled selected>Year</option>
                    <!-- Generate years dynamically -->
                    <script>
                        const currentYear = new Date().getFullYear();
                        for (let i = 0; i < 15; i++) {
                            const year = currentYear + i;
                            document.write(`<option value="${year}">${year}</option>`);
                        }
                    </script>
                </select>
              </div>
          </div>
      </div>
      <div class="col-xs-5 col-md-3 pull-right">
          <div class="form-group">
              <label>CVV CODE</label>
              <input type="tel" id='clickpay_card_code' name='clickpay_card_code' data-paylib='cvv'
                      class="form-control" placeholder="CVV" maxlength="4"/>
          </div>
      </div>
    </div>  
  </form>
  {% endif %}
  <form id="form-clickpay">
    <div class="d-inline-block pt-2 pd-2 w-100 text-end">
      <button type="submit" id="button-confirm" class="btn btn-primary">{{ button_confirm }}</button>
    </div>
  </form>
</fieldset>

{% if "iframe" == gateway_redirect %}
<div class="modal fade" id="clickpayModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:800px; height:600px">
        <div class="modal-content" style="width:800px; height:600px">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">ClickPay Payment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="width: 100%; height:100%">
                <iframe src="#" style="width:100%; height:100%"></iframe>
            </div>
        </div>
    </div>
</div>
{% endif %}

<script type="text/javascript" src='https://secure.clickpay.com.sa/payment/js/paylib.js'></script>

<script type="text/javascript">

const cpayimageurl = '{{ image_url }}'
const cpayredirect = '{{ gateway_redirect }}'
const cpayclientkey = '{{ client_key}}'

console.log(cpayclientkey)

function validateCreditCardDetails() {
  const cNumber = $("#clickpay_card_number").val()
  const cMonth = $("#clickpay_card_expiration_month").val()
  const cYear = $("#clickpay_card_expiration_year").val()
  const cCVV = $("#clickpay_card_code").val()
  
  console.log(cMonth, cYear)

  let isValid = true
  if (isValid && cNumber.trim().length < 15 )
  {
    isValid = false;
  }
  if (isValid && cCVV.trim().length < 3 )
  {
    isValid = false;
  }
  if (isValid)
  {
    const currentMonth = new Date().getMonth() + 1; 
    const currentYear = new Date().getFullYear();
    if (cYear > currentYear || (cYear == currentYear && cMonth >= currentMonth ))
      isValid = true;
    else
      isValid = true;
  }
  
  return isValid;    
}


function handleCardNumberChange(event) {

  const value = $("#clickpay_card_number").val()
  const formattedValue = value.replace(/\D/g, '').replace(/(.{4})/g, '$1 ').trim();
  
  const testvalue = formattedValue.replace(/ /g, "").trim()
  var re = {
    electron: /^(4026|417500|4405|4508|4844|4913|4917)\d+$/,
    maestro: /^(5018|5020|5038|5612|5893|6304|6759|6761|6762|6763|0604|6390)\d+$/,
    visa: /^4[0-9]\d+$/,
    mastercard: /^5[1-5][0-9]\d+$/,
    amex: /^3[47][0-9]\d+$/,
    diners: /^3(?:0[0-5]|[68][0-9])[0-9]\d+$/,
    discover: /^6(?:011|5[0-9]{2})[0-9]\d+$/,
    jcb: /^(?:2131|1800|35\d{3})\d+$/
  }

  let cctype = "blank"
  for(var key in re) {      
      if(re[key].test(testvalue)) {
          cctype = key
          break
      }
  }

  $("#clickpay_card_number").val(formattedValue)

  const imgicon = document.getElementById("cc-icon");
  imgicon.src = cpayimageurl + "/" + cctype + ".png"
        
}


$('#form-clickpay').on('submit', function (e) {
    e.preventDefault();
    
    var element = this;

    if (cpayredirect == 'managed')
    {
      const isValid = validateCreditCardDetails();
      if (isValid)
      {
  
         console.log("Token Start")
        //get token
        var form = document.getElementById('managedform');
				paylib.inlineForm({
					'key': cpayclientkey,
					'form': form,
					'autoSubmit': true,
					'callback': function (response) {
            console.log(response);
            if (response.error) {							  
              alert("Error processing payment. Please try again");
            }
            else {
              console.log("Token success");
            }
          }
				})

      }
      else
      {
        alert("Invalid credit card details")
      }
    }
    else {
      $.ajax({
          url: 'index.php?route=extension/clickpay_payment/payment/clickpay_payment|send',
          type: 'post',
          contentType: 'application/x-www-form-urlencoded',
          cache: false,
          processData: false,
          beforeSend: function () {
              $('#button-confirm').prop('disabled', true).addClass('loading');
          },
          complete: function () {
              $('#button-confirm').prop('disabled', false).removeClass('loading');
          },
          success: function (json) {
              console.log(json)  
              if (json['redirect']) {
                  if (json['method'] == 'iframe')
                  {
                    var $modal = $('#clickpayModal');
                    $modal.find('iframe').attr('src', json['redirect']);
                    $modal.modal('show');                    
                  }
                  else
                  {
                    location = json['redirect'];
                  }
              }

              if (json['error']) {
                  alert(json['error'])
              }
          },
          error: function (xhr, ajaxOptions, thrownError) {
              console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
      });
    }

    
});

</script>
